.loginScreen {
	display: flex;
	flex-direction: column;
	width: 25vw;
	height: 60vh;
	justify-content: flex-start;
	align-items: center;
	border-radius: 10px;
	margin: auto;
	color: #0db183;
}

.loginScreen form > input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
	border-radius: 5px;
	width: 30em;
	height: 65px;
	padding-left: 20px;
}

.label {
	display: flex;
	align-items: flex-start;
	position: relative;
	margin-left: 20px;
	font-weight: bold;
	color: #edd9d9;
	margin-bottom: 10px;
	font-weight: 600;
	font-size: large;
}

.button {
	font-size: 1rem;
	font-weight: 600;
	width: 30em;
	align-items: center;
	height: 65px;
}
.button:hover {
	cursor: pointer;
}
.h4 {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	margin-top: 20px;
}
h4 > .signup_gray {
	align-items: center;
	color: #dfe8e5;
}
.h4 > .signup_link {
	width: 40%;
	color: #5fc5a3;
	cursor: pointer;
}
.signin {
	display: flex;
	justify-content: center;
	padding-top: 10px;
	margin-top: 10px;
	color: #ffffff;
	align-items: center;
}
