.profile {
	height: 100vh;
	color: white;
	background: rgb(13, 14, 14);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile_body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 50%;
}

.profiles > img {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.profiles > .email {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}
.profile_detail {
	display: flex;
	flex-direction: row;
}
.profiles {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.profile_signOut {
	padding: 10px 20px;
	font-size: 1rem;
	margin-top: 1rem;
	width: 100%;
	color: white;
	background-color: rgb(203, 104, 47);
}

.signOut {
	cursor: pointer;
	font-size: x-large;
}
.w {
	font-size: xx-large;
}
